@font-face {
  font-family: 'FuturaBookC';
  src: url('../fonts/futurabookc.woff') format('woff'),
    url('../fonts/futurabookc.woff2') format('woff2');
}
@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/futurademic.woff') format('woff'),
    url('../fonts/futurademic.woff2') format('woff2');
}
@font-face {
  font-family: 'FuturaFuturisC';
  src: url('../fonts/futurafuturisc.woff') format('woff'),
    url('../fonts/futurafuturisc.woff2') format('woff2');
}
@font-face {
  font-family: 'FuturaFuturisC-Bold';
  src: url('../fonts/futurafuturisc-bold.woff') format('woff'),
    url('../fonts/futurafuturisc-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/futuralightc.woff') format('woff'),
    url('../fonts/futuralightc.woff2') format('woff2');
}
